@model List<PMS.ViewModels.HomeViewModel>
@using PMS.Helpers

@{
    ViewBag.Title = "About";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12">
                @*header*@
                <h2>@Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Header).Select(s => s.Description).FirstOrDefault()</h2>
                <br>
                @*body*@
                <div>
                    @Html.Raw(Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Body).Select(s => s.Description).FirstOrDefault())
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12">
                @*image*@
                <img class="img-responsive" src="@Url.Content(@Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Image).Select(s => s.Description).FirstOrDefault())">
            </div>
            @*subheader*@
            <div class="col-lg-12 col-md-12 col-sm-12">
                @Html.Raw(Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.SubHeader).Select(s => s.Description).FirstOrDefault())
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        setActiveMenu('liAbout');
    </script>
}