@model List<PMS.ViewModels.HomeViewModel>
@using PMS.Helpers

@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_GalleryLayout.cshtml";
    int cnt = 1;
}

<div class="modal fade modal-gal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close " aria-hidden="true"></i>
                </button>

                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-pause="false">
                    <div role="listbox" class="carousel-inner">

                        @foreach (var headshotitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.GalleryHeadShotImage))
                        {
                            if (cnt == 1)
                            {
                                <div class="item active">
                                    <img alt="Gallery Picture" src="@Url.Content(headshotitem.Description)">
                                </div>

                                cnt += 1;
                            }
                            else
                            {
                                <div class="item">
                                    <img alt="Gallery Picture" src="@Url.Content(headshotitem.Description)">
                                </div>
                            }

                        }

                    </div>

                    <a data-slide="prev" role="button" href="#myCarousel" class="left carousel-control">
                        <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
                    </a>
                    <a data-slide="next" role="button" href="#myCarousel" class="right carousel-control">
                        <i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="section portfolio-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 portfolio ">
                @*HEADER*@
                <h2>@Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.Header).Select(s => s.Description).FirstOrDefault()</h2>
            </div>
        </div>
        <div class="row portfolio section-description wow fadeIn">
            @Html.Raw(Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.SubHeader).Select(s => s.Description).FirstOrDefault())

        </div>
        <div class="row portfolio section-description wow fadeIn">
            <div class="col-sm-12 portfolio-masonry">
                @foreach (var headshotitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.GalleryHeadShotImage))
                {
                    <div class="portfolio-box design">
                        <a href="#" data-toggle="modal" onclick="ShowModal(10);">
                            <img src="@Url.Content(headshotitem.Description)" alt="@headshotitem.ImageText">
                        </a>
                        <div class="portfolio-box-text-container">
                            <div class="portfolio-box-text">
                                <p>@headshotitem.ImageText</p>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var onthejobitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.GalleryOnTheJobImage))
                {

                    <div class="portfolio-box development">
                        <a href="#" data-toggle="modal" onclick="ShowModal(11);">
                            <img src="@Url.Content(onthejobitem.Description)" alt="@onthejobitem.ImageText">
                        </a>

                        <div class="portfolio-box-text-container">
                            <div class="portfolio-box-text">
                                <p>@onthejobitem.ImageText</p>
                            </div>
                        </div>
                    </div>
                }

                @foreach (var modellingitem in Model.Where(w => w.TypeID == (int)PMSUtilities.MasterType.GalleryModelingImage))
                {
                    <div class="portfolio-box branding">
                        <a href="#" data-toggle="modal" onclick="ShowModal(12);">
                            <img src="@Url.Content(modellingitem.Description)" alt="@modellingitem.ImageText">
                        </a>
                        <div class="portfolio-box-text-container">
                            <div class="portfolio-box-text">
                                <p>@modellingitem.ImageText</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@*JAVASCRIPT FOR SHOWING MODAL, SHOWING IMAGES*@

<script>
    function ShowModal(galleryType) {
        $.ajax({
                type: "GET",
                url: "@Url.Action("ModalImages", "Gallery")",
            data: { imageType: galleryType },
                contentType: "application/html; charset=utf-8",
                success: function (data) {
                    $('#myCarousel').html('');
                    $('#myCarousel').html(data);
                    $('#myModal').modal('show');
                },
                error: function (arg) {
                    alert("Error");
                }

            });
    }
</script>